.form-builder-sidebar {
	$max-width: 500px;

	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

	&.form-builder-sidebar.sidenav-menu-slider {
		max-width: $max-width;
		width: 0;

		&.open {
			width: 100%;
		}
	}

	.sidebar-body {
		height: 100%;
		max-width: $max-width;
		padding: 0;
		width: 100%;
	}

	.sidebar-content {
		max-width: $max-width;
		right: 0;
		top: 0;
		width: 100%;
	}

	.sidebar-header {
		margin-top: 64px;
	}

	.navbar-nav {
		border-bottom-width: 0;

		a {
			text-transform: capitalize;

			&:hover {
				border-bottom-color: transparent;
			}
		}

		li {
			font-size: initial;
		}
	}

	.tab-pane {
		bottom: 0;
		max-width: $max-width;
		overflow: auto;
		padding: 24px;
		position: absolute;
		top: 208px;
		width: 100%;
	}
}