#settings {
	@keyframes fade-down {
		from {
			opacity: 0;
			top: -50px;
		}

		to {
			opacity: 1;
			top: 0;
		}
	}

	.alloy-editor {
		padding-right: 4px;
	}

	.form-inline .checkbox label {
		padding-left: 0;
	}

	.radio-inline {
		margin-right: 125px;
	}

	.lfr-ddm-form-page {
		&.active.advanced {
			display: block;
		}

		&.advanced {
			display: none;
		}
	}

	.key-value-editor {
		&.active {
			.key-value-cancel,
			.key-value-done,
			.key-value-input {
				display: inline-block;
			}

			.key-value-output {
				display: none;
			}
		}

		.key-value-cancel,
		.key-value-done,
		.key-value-input {
			display: none;
		}

		.key-value-cancel,
		.key-value-done {
			font-weight: bold;
			margin-left: 25px;
			text-transform: uppercase;
		}

		.key-value-label {
			color: #C4CFD6;
			margin-right: 5px;
		}

		.key-value-cancel,
		.key-value-done,
		.key-value-input,
		.key-value-label,
		.key-value-output {
			font-size: 11px;
		}

		.key-value-input {
			background-color: transparent;
			border-width: 0;
			margin: 0;
			outline: none;
		}

		.key-value-input,
		.key-value-output {
			color: #869CAD;
		}
	}

	.form-group {
		margin-bottom: 40px;
	}

	.has-error .key-value-editor {
		display: none
	}

	.liferay-ddm-form-field-checkbox,
	.lfr-ddm-form-field-validation {
		margin-bottom: 20px;

		.form-group {
			line-height: 0;
			margin-bottom: 0;
		}
	}

	.liferay-ddm-form-field-key-value {
		margin-bottom: 20px;

		.help-block {
			height: 22px;
			position: relative;
		}
	}

	.liferay-ddm-form-field-options {
		margin-bottom: 0;

		.close {
			font-size: 22px;
			position: absolute;
			right: 8px;
			top: 8px;
		}

		.drag-handle {
			color: #C3CFD8;
			cursor: pointer;
			font-size: 22px;
			position: absolute;
			top: 12px;

			&:hover {
				font-weight: bold;
			}
		}

		.drag-placeholder {
			opacity: 0.5;
		}

		.last-option:not(:first-of-type) {
			@include animation(fade-down 0.7s ease);
		}

		.last-option .close {
			display: none;
		}

		.liferay-ddm-form-field-key-value {
			margin-left: 30px;
		}

		.lfr-ddm-form-field-repeatable-toolbar {
			display: none;
		}
	}

	.liferay-ddm-form-field-text textarea + .input-group-addon {
		vertical-align: bottom;
	}

	.autocomplete-container {
		.form-group {
			margin-bottom: 18px;
		}

		.toolbar-group-content {
			padding-right: 0;
		}

		.toolbar-group {
			height: 48px;
			margin: 0;
		}

		.radio {
			display: inline-block;
		}

		.radio + .radio {
			margin-left: 15px;
		}

		.header-toolbar {
			font-size: 16px;
			margin-left: -8px;
		}

		.toolbar-group-expand-text {
			line-height: 48px;
			margin: 0;
			padding-left: 0;
		}
	}
}