.liferay-ddl-form-rule-builder {
	.ddl-form-basic-info {
		display: none;
	}

	.ddl-form-builder-app {
		margin-top: 0;
	}

	.footer-button {
		margin-left: 56px;
		margin-top: 12px;
		padding: 12px 24px;
	}
}

.liferay-ddl-form-rule-builder-timeline {
	margin-bottom: 0;

	&.can-remove-item {
		.timeline-item:hover > .container-trash {
			display: block;
		}
	}

	.container-trash {
		cursor: pointer;
		display: none;
		padding: 10px;
		position: absolute;
		right: 0;
		top: 0;

		&:hover {
			color: #65B6F0;
		}
	}

	&.liferay-ddl-form-builder-rule-action-list {
		.action-rule-data-provider {
			background-color: #F8F8F8;
			margin-top: 15px;

			p {
				display: inline-block;
			}

			.data-provider-label-container {
				margin-bottom: 15px;
			}

			.data-provider-parameter-output, .data-provider-parameter-input {
				margin-right: 10px;
			}

			.data-provider-parameter-output-container, .data-provider-parameter-input-container {
				padding: 20px 55px;
			}

			.data-provider-parameter-output-container {
				border-top: 1px solid #DCE0E3;
			}

			.data-provider-parameter-output-list, .data-provider-parameter-input-list {
				.container-input-field {
					margin-bottom: 10px;
				}

				.container-input-label {
					margin-top: 10px;
				}
			}

			.no-padding {
				padding: 0;
			}
		}

		.container-target-action {
			display: inherit;

			h4 {
				margin-right: 10px;
			}
		}

		.lfr-ddm-form-field-container-inline {
			display: inline-block;
		}

		.timeline-item {
			&:last-child:before {
				bottom: 42px;
			}

			.lfr-ddm-form-field-container {
				padding: 0;
			}
		}

		& + div div:before {
			bottom: 20px;
			top: -72px;
		}

		& .timeline-item .panel .no-padding-bottom {
			padding-bottom: 0;
		}

		.calculate-container-fields {
			padding: 8px 25px 25px 25px;

			textarea {
				background-color: #F5F5F5;
				border: 1px solid #CCC;
				border-radius: 2px;
				color: #333;
				font-family: Menlo;
				font-size: 13px;
				min-height: 200px;
				padding: 10px;
			}

			textarea[readOnly] {
				cursor: not-allowed;
			}

			.calculate-field-target {
				padding-top: 45px;
			}
		}

		.calculate-container-calculator-component {
			min-width: 238px;
			padding-bottom: 30px;
			padding-top: 30px;

			.liferay-ddl-form-builder-calculator {
				align-content: center;
				align-items: center;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}

			.calculator-add-field-button-container {
				display: inline-block;
				margin: 0 auto;
				padding: 0;

				.calculator-add-field-button {
					height: 49px;
					margin-bottom: 5px;
					margin-left: 1px;
					width: 206px;
				}

				.form-builder-select-field {
					margin-left: -9px;
					margin-top: -28px;

					.select-field-trigger {
						display: none;
					}
				}
			}

			.calculator-button-area {
				display: inline-block;
				margin: 0 auto;
				padding: 0;

				& ul {
					list-style-type: none;
				}

				.calculator-buttons {
					display: inline-block;
					margin: 0;
					overflow: hidden;
					padding: 0;

					li.calculator-button, li.calculator-add-operator-button-area {
						background-color: rgba(209, 214, 217, 0.5);
						color: #869CAD;
						cursor: pointer;
						float: left;
						font-size: 14px;
						font-weight: 500;
						height: 49px;
						margin: 1px;
						padding-top: 16px;
						text-align: center;
						width: 49px;
					}

					li.calculator-add-operator-button-area {
						.calculator-add-operator-button {
							height: 50px;
							margin-top: -43px;
							position: absolute;
							width: 50px;
						}

						.form-builder-select-field {
							margin-left: -10px;
							margin-top: -10px;
							position: absolute;

							.select-field-trigger {
								display: none;
							}

							.drop-chosen {
								border: solid 1px #DDE1E3;
								border-radius: 4px;
								padding: 5px 0;
								text-align: left;
								width: 100px;

								.search-chosen {
									display: none;
								}
							}
						}
					}

					li.button-padding-icons {
						padding-top: 10px;
					}

					li.button-two-columns {
						width: 100px;
					}

					li.calculator-button:hover, li.calculator-add-operator-button-area:hover {
						background-color: rgba(209, 214, 217, 0.7);
					}

					li.calculator-button:active, li.calculator-add-operator-button-area:active {
						background-color: rgba(209, 214, 217, 0.85);
					}

					li.border-top-left {
						border-top-left-radius: 4px;
					}

					li.border-top-right {
						border-top-right-radius: 4px;
					}

					li.border-bottom-right {
						border-bottom-right-radius: 4px;
					}

					li.border-bottom-left {
						border-bottom-left-radius: 4px;
					}
				}

				.calculator-buttons-numbers {
					margin-right: 4px;
					width: 153px;
				}

				.calculator-buttons-operators {
					width: 51px;
				}
			}
		}
	}

	.panel-body {
		position: relative;

		.dropdown {
			display: block;
			margin-right: 20px;
			margin-top: 8px;
			position: absolute;
			right: 0;
			top: 0;
		}

		button {
			padding: 4px 12px;
		}
	}

	&.liferay-ddl-form-builder-rule-condition-list {
		.timeline-item {
			.lfr-ddm-form-field-container {
				padding: 0;
			}

			&:first-child:before {
				top: 35px;
			}

			&:last-child > .operator {
				display: none;
			}

			.operator {
				border-radius: 4px;
				font-size: 14px;
				margin-top: 10px;
				position: relative;

				.panel-body {
					padding: 5px 17px;
				}
			}

			.panel-inline {
				display: inline-block;
			}
		}
	}
}

.liferay-ddl-form-rule-builder-footer {
	margin: $baseline * 3 0;
	padding: 12px 54px;
}

.liferay-ddl-form-builder-rule-content {
	.lfr-ddm-form-field-container {
		padding: 0;
	}
}

.form-builder-rule-builder-rules-list {
	margin-top: $baseline * 4;
}

.timeline-increment-icon.add-condition {
	padding-bottom: $baseline * 2;
	padding-top: $baseline * 2;
	position: relative;

	&:before {
		background-color: #869CAD;
		bottom: 0;
		content: '';
		display: block;
		left: 20px;
		position: absolute;
		top: -10px;
		width: 2px;
		z-index: -1;
	}

	.form-builder-timeline-add-item {
		border-radius: 100%;
		margin-left: 3px;
		padding: 0;
	}
}

.form-builder-rule-builder-rule-description {
	padding: $baseline;
}